
* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    display: flex;
    margin: 0;
    justify-content: center;
}
h2 {
    font-size: 32px;
    color: #6A24FE;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}
.createAccount-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    width: 100%;
}
.input-group {
    display: flex;      /* 버튼과 입력 필드를 한 줄에 배치 */
    margin-bottom: 16px;
}
.input-group > input, .input-group > button {
    height: 48px;
    border-radius: 6px;
}
.input-group > input {
    flex-grow: 1;       /* 입력 필드가 남은 공간을 모두 차지하도록 설정 */
    margin-right: 8px;  /* 버튼과의 간격 설정 */
    padding: 0 10px;
    background-color: #F8F8F8;
}
.input-group > button {
    background-color: #6A24FE;
    color: white;
    border: none;
    padding: 0 20px;
}
#createaccount-form > input[type="password"],
#createaccount-form > input[type="submit"] {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#createaccount-form > input[type="submit"] {
    color: #fff;
    background-color: #6A24FE;
    margin-top: 20px;
}
#createaccount-form > input::placeholder {
    color: #909090;
}
